vti_encoding:SR|utf8-nl
vti_author:SR|USF\\ac21700
vti_modifiedby:SR|USF\\ac21700
vti_timelastmodified:TR|13 Jun 2008 08:12:13 -0000
vti_timecreated:TR|13 Jun 2008 08:12:13 -0000
vti_cacheddtm:TX|13 Jun 2008 08:12:13 -0000
vti_filesize:IR|1421
vti_cachedlinkinfo:VX|S|expbannd.gif S|exphorsd.gif S|expbul1d.gif S|expbul2d.gif S|expbul3d.gif S|exphbusd.gif S|exphbudd.gif S|expvbusd.gif S|expvbudd.gif S|exphombd.gif S|expupbd.gif S|expprebd.gif S|expnexbd.gif S|expbul1d.gif S|expbul2d.gif S|expbul3d.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/expeditn/expbannd.gif FSUS|_themes/expeditn/exphorsd.gif FSUS|_themes/expeditn/expbul1d.gif FSUS|_themes/expeditn/expbul2d.gif FSUS|_themes/expeditn/expbul3d.gif FSUS|_themes/expeditn/exphbusd.gif FSUS|_themes/expeditn/exphbudd.gif FSUS|_themes/expeditn/expvbusd.gif FSUS|_themes/expeditn/expvbudd.gif FSUS|_themes/expeditn/exphombd.gif FSUS|_themes/expeditn/expupbd.gif FSUS|_themes/expeditn/expprebd.gif FSUS|_themes/expeditn/expnexbd.gif FSUS|_themes/expeditn/expbul1d.gif FSUS|_themes/expeditn/expbul2d.gif FSUS|_themes/expeditn/expbul3d.gif
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|
